$maxWidth: "1200";
@mixin adaptiv-font($pcSize, $mobSize) {
  addsize: pcSize - mobSize;
  maxwidth: maxWidth - 320;
  font-size: calc(
    #{mobSize + px} + #{addSize} * ((100vw - 320px) / #{maxWidth})
  );
}

$color-ligth: #00b2ff;
$color-dark: #002b6b;
$color-grey: #45a3cd;

@font-face {
  font-family: Yeseva;
  src: url("../fonts/YesevaOne-Regular.ttf");
  font-weight: 400;
}


@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}

.container {
  width: 1140px;
  margin: 0auto;
}

body {
}
